@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');

body { /* General style rules for the body section */
	background-color:white;
	color: lightgreen;
	text-align: center;
	background-size: cover;
    font-family: sans-serif;
    height: 125vh;
    margin-top: 80px;
    padding: 30px;
}
#div1 {
	background-color: gray;
	color: hotpink;

	border-style: solid groove;
	border-width: 5px;
	border-color: green;
	margin: 5%;
	padding: 6px;
}

#SimpleDiv { /* Matches element with id=SimpleDiv */
	background-color: gray;

	color: hotpink;


	border-style: solid groove;
  border-width: 5px;
	border-color: green;
}

header img {
    height: 80px;
    margin-left: 60px;
}

header {
    background-color: #3578e7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}