@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body { /* General style rules for the body section */
	background-color:white;
	color: black;
	text-align: center;
	background-size: cover;
    font-family: sans-serif;
    height: 80vh;
    margin-top: 80px;
    padding: 30px;
}
h1 {
	color: #3578e7;
	text-align: left;
	font-family: 'Comfortaa', cursive;
	font-size: 50px;
}
h2 {
	color: #3578e7;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 300px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
h3 {
	color: #3578e7;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 300px;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
h4 {
	color: #3578e7;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	font-size: 50px;
	margin-bottom: 10px;
}

.other {
	color: #333333;
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
	line-height: 1.6
	top:0;
}

.other {
	color: #333333;
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
	line-height: 1.6
	top:0;
}

p {
	color: black;
	padding-left: 150px;
	text-align: left;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 1.6
}
#div1 {
	background-color: gray;
	color: hotpink;

	border-style: solid groove;
	border-width: 5px;
	border-color: green;
	margin: 5%;
	padding: 6px;
}

#SimpleDiv { /* Matches element with id=SimpleDiv */
	background-color: gray;

	color: hotpink;


	border-style: solid groove;
  border-width: 5px;
	border-color: green;
}

header img {
    height: 80px;
    margin-left: 60px;
}

header {
    background-color: #3578e7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
    font-family: 'Comfortaa';
}

#title {
	text-align: center;
}

#name {
	text-align: center;
	font-family: "Comfortaa";
	color: #3578e7;\
	opacity: 0.5;
	font-size: 18;
}

#james {
	display: block;
	width: 20%;
	margin: 0 auto;
}

#jamesprofile {
	display: block;
	width: 20%;
	margin-right: auto;
}

h2 {
	font-family: "Comfortaa";
	display: flex;
	align-items: left;
	margin: 50px;
	padding-left: 55px;
}
